<extend name="./Admin/Home/View/Base/home.html"/>
<block name="content">
    <form class="searchBox" action="__URL__/searchBook" method="post">
        <a class="onSearch" href="javascript:void(0);" value="0" onclick="changeMtd(this);">书名</a>
        <a href="javascript:void(0);" value="1" onclick="changeMtd(this);">作者</a><br/>
        <input type="hidden" name="mode" value="0"/>
        <input class="searchText" type="text" name="searchText" required/>
        <input class="searchBtn" type="submit" value="搜索"/>
    </form>
    <div class="showList">
        <if condition="$showList">
            <table>
                <tr>
                    <th width="100px">书籍图片</th>
                    <th width="100px">书名</th>
                    <th width="100px">作者</th>
                    <th width="100px">库存</th>
                    <th width="100px">操作</th>
                </tr>
                <foreach name="showList" item="s">
                    <tr>
                        <td width="100px" height="100px"><img width="100%" src="__PUBLIC__/images/{$s.img}" alt="book picture"></td>
                        <td>{$s.bookname}</td>
                        <td>{$s.author}</td>
                        <td>{$s.surplus}</td>
                        <td><a href="__URL__/orderBook/bookId/{$s.id}">预约</a></td>
                    </tr>
                </foreach>
                <if condition="$flag"><tr><td colspan="5">{$show}</td></tr></if>
            </table>
        <else/>
            <div class="zero">未有展示的书籍</div>
        </if>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        function changeMtd(e) {
            $(e).siblings().removeClass("onSearch");
            $(e).addClass("onSearch");
            if ( $(e).html()=="作者" ) {
                $("input[type='hidden']").attr("value", '1');
            } else {
                $("input[type='hidden']").attr("value", '0');
            }
        }
    </script>
</block>