<extend name="./Admin/Home/View/Base/home.html"/>
<block name="content">
    <form class="addOrder" action="__URL__/addOrder" method="post">
        <img src="__PUBLIC__/images/{$orderBook.img}" alt="the picture of order book"/>
        <div class="bookMsg">
            <span>书名：{$orderBook.bookname}</span>
            <span>作者：{$orderBook.author}</span>
            <span>出版社：{$orderBook.publisher}</span>
            <span>库存：{$orderBook.surplus}</span>
        </div>
        <div class="orderCondition">
            <input type="hidden" name="bookName" value="{$orderBook.bookname}"/>
            <label for="borrowDate">借书日期</label>
            <input type="date" name="borrowDate" required/>
            <label for="maintainTime">借书时长</label>
            <select name="maintainTime">
                <option value="1">一个月</option>
                <option value="2">两个月</option>
                <option value="3">三个月</option>
                <option value="4">四个月</option>
                <option value="5">五个月</option>
                <option value="6">半年</option>
                <option value="7">七个月</option>
                <option value="8">八个月</option>
                <option value="9">九个月</option>
                <option value="10">十个月</option>
                <option value="11">十一个月</option>
                <option value="12">一年</option>
            </select>
            <label for="bookNum">数目</label>
            <input type="text" name="bookNum" required/>
            <input class="add" type="submit" value="预约"/>
        </div>
    </form>
</block>