<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英语单词测试</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vt/index.css"/>
</head>
<body>

<ul class="pics">
    <li class="pic"><img src="__PUBLIC__/images/f.jpg" alt="picture 1"><div class="con">Your English is <font color="red">bad</font></div></li>
    <li class="pic"><img src="__PUBLIC__/images/b.jpg" alt="picture 1"><div class="con">You are so <font color="red">hopeless</font></div></li>
    <li class="pic"><img src="__PUBLIC__/images/c.jpg" alt="picture 1"><div class="con">But you don't <font color="red">give up</font></div></li>
    <li class="pic"><img src="__PUBLIC__/images/d.jpg" alt="picture 1"><div class="con">And your <font color="red">fighting will</font> still exist</div></li>
    <li class="pic"><img src="__PUBLIC__/images/e.jpg" alt="picture 1"><div class="con">Come on, let us <font color="red">help</font> you</div></li>
    <li class="pic"><img src="__PUBLIC__/images/a.jpg" alt="picture 1"><a href="__URL__/test" class="inTest">Let's Start</a></li>
</ul>
<ul class="pixs">
    <li><a href="##" id="on" class="pix"></a></li>
    <li><a href="##" class="pix"></a></li>
    <li><a href="##" class="pix"></a></li>
    <li><a href="##" class="pix"></a></li>
    <li><a href="##" class="pix"></a></li>
    <li><a href="##" class="pix"></a></li>
</ul>

<script type="text/javascript" src="__PUBLIC__/vt/index.js"></script>
</body>
</html>