<extend name="./Admin/Home/View/Base/main.html"/>
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/styles/table.css"/>
</block>
<block name="frame">
    <div class="ContentBlock fr">
        <if condition="$returnWarn">
            <table class="multi" border="1" cellpadding="0" cellspacing="0">
                <tr>
                    <th>编号</th>
                    <th>借书者</th>
                    <th>书名</th>
                    <th>数目</th>
                    <th>借书日期</th>
                    <th>还书日期</th>
                    <th>操作</th>
                </tr>
                <foreach name="returnWarn" item="return">
                    <tr>
                        <td>{$return.id}</td>
                        <td>{$return.user}</td>
                        <td>{$return.bookname}</td>
                        <td>{$return.booknum}</td>
                        <td>{$return.borrowdate}</td>
                        <td>{$return.returndate}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="returnBack(this);">已还</a>
                        </td>
                    </tr>
                </foreach>
                <if condition="$flag"><tr><td colspan="7">{$show}</td></tr></if>
            </table>
            <else/>
            <div class="zero">今日未有还书记录</div>
        </if>
        <div class="options">
            <a href="__MODULE__/Borrow/addBorrow">添加借书记录</a>
            <a href="__MODULE__/Borrow/borrowList">查看借书列表</a>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        function returnBack(e){
            var grand = $(e).parent().parent();
            var target = grand.find("td").eq(0).html();
            window.location.href = "__URL__/returnBack/id/"+target;
        }
    </script>
</block>